html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #b586cb;
  background: radial-gradient(ellipse at center, #c6d7da 0%, #ded4d4 70%);
  background-size: 100vh;
}

p {
  margin: 0;
  padding: 0;
}

#clock {
  font-family: "Share Tech Mono", monospace;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 60%;
  top: 15%;
  transform: translate(-50%, -50%);
  color: #ffe9da;
  text-shadow: 0 0 20px rgba(201, 10, 230, 0.63), 0 0 20px rgba(10, 175, 230, 0);
}

#clock .time {
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}

#clock .date {
  letter-spacing: 0.1em;
  font-size: 24px;
}

#clock .text {
  letter-spacing: 0.1em;
  font-size: 12px;
  padding: 20px 0 0;
}